body {background-color: #FFFFFF;
    color: #003366;
    font-family: Verdana, Arial, sans-serif;
    }

header {background-color: #003366;
        color: #F0F0F0;
        font-family: Georgia, "Times New Roman", serif;
        background-image: url("images/fishcreeklogo.gif"); 
        text-align: center;
        background-position: center;
        background-repeat: no-repeat; 
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        }

h1 {line-height: 250%;
    text-indent: 1em;
    margin-bottom: 0;
    }

nav {font-weight: bold;
    text-align: center;
    background-color: #5280C5;
    padding: 5px;
    }

dt {color: #5280C5;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", serif;
    }

.category {font-weight: bold;
            color: #5380C5;
            font-family: Georgia, "Times New Roman", serif;
            text-shadow: 1px 1px 1px #667;
            border-image: none;
            }

footer {font-size: .70em;
        font-style: italic;
        text-align: center;
        background-color: #AEC3E3;
        }

#wrapper { margin-left: auto;
        margin-right: auto;
        width: 80%;
        background-color: #F0F0F0;
        min-width: 700px;
    }

main { padding-left: 10px;
    padding-right: 10px;
    }

img {border-style: none; 
    }

footer nav { background-color: #F0F0F0;
    }